body {
    background: url("https://images.unsplash.com/photo-1677442136019-21780ecad995?auto=format&fit=crop&w=1920&q=80")
        no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}

.overlay {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 700px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    background: rgba(255,255,255,0.12);
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
    box-shadow: 0 0 30px rgba(0,255,255,0.4);
}

.form-control {
    background: rgba(255,255,255,0.15);
    color: white;
    border: 1px solid rgba(255,255,255,0.3);
}

.form-control::placeholder {
    color: #ddd;
}

.btn-primary {
    background: linear-gradient(90deg,#00c6ff,#0072ff);
    border: none;
    font-weight: bold;
}

h2 {
    color: cyan;
    text-align: center;
    font-weight: bold;
}